body {
  margin: 0;
}

.header {
  margin: 0;
  background-color: #99ccff;
  width: 100%;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
}

.logo {
  width: 150px;
  margin: 20px 0px 20px 4%;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 100;
}

.logo span {
  color: #162b4d;
}

.menu ul {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0 4% 0 0;
}

.menu__item {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  width: 25%;
}

.menu__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}

.menu__item:hover {
  background-color: #162b4d;
}

.header-wrapper > .fas {
  display: none;
}

.section-1 {
  display: flex;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  margin-top: 4%;
  background-image: url(../img/section1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1-wrapper {
  margin: 0 0 0 4%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}

.section-1-wrapper h1 {
  font-size: 2em;
  font-weight: 300;
}

.posts-and-news {
  margin: 4%;
}

.posts-and-news-wrapper {
  margin: 0 auto;
  display: flex;
  gap: 2%;
}

.posts {
  max-width: 60%;
  color: #484848;
}

.posts__item {
  display: flex;
  font-family: "Roboto", sans-serif;
}

.posts__item:hover :not(img) {
  opacity: 0.8;
}

.posts__item:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: end;
}

.posts__item img {
  width: 50%;
  object-fit: cover;
}

.posts__item h2 {
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.5;
}

.posts__item article {
  padding: 0 15px;
}

.posts__item article p {
  line-height: 1.4;
}

.posts__item > p {
  padding: 0 15px;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

.post-1 {
  background: #f3d250;
}

.post-2 {
  background: #8d8741;
}

.post-3 {
  background: #659dbd;
}

.post-4 {
  background: #daad86;
}

.news {
  max-width: 38%;
  color: #484848;
}

.news__item {
  display: flex;
  flex-direction: column;
  border: 2px solid #162b4d;
}

.news__item:nth-of-type(1) {
  margin-bottom: 20px;
}

.news__item img {
  width: 100%;
  object-fit: cover;
}

.news__item article {
  margin: 20px 60px;
  font-family: "Roboto", sans-serif;
}

.news__item article h2 {
  font-size: 1.7em;
  font-weight: 300;
}

.news__item article p {
  margin: 20px 0px;
  line-height: 1.5;
}

.news__item button {
  padding: 10px;
  margin: 10px 0px;
  background-color: transparent;
  border: 2px solid #162b4d;
  cursor: pointer;
  color: #484848;
}

.news__item button:hover {
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

.footer {
  background-color: #162b4d;
  color: white;
  width: 100%;
}

.footer-wrapper {
  margin: 0 4%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

@media (max-width: 1279px) {
  .header-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .header-wrapper > .fas {
    display: block;
    color: white;
    margin: 30px 0;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .logo {
    margin: 30px 0;
  }

  .posts__item {
    flex-direction: column;
  }

  .posts__item:nth-of-type(2n) {
    flex-direction: column;
    text-align: start;
  }

  .posts__item img {
    width: 100%;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .copyright {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .posts-and-news-wrapper {
    flex-direction: column;
  }

  .posts {
    max-width: 100%;
  }

  .news {
    max-width: 100%;
  }

  .news__item:nth-of-type(1) {
    margin: 20px 0;
  }
}
